<!-- Cabecera del menú principal del Boilerplate -->
<header class="index__container--menu">
    <div class="index__container-menu-item--logo1">
      <picture><!-- Mostramos logotipo principal -->
        <source srcset="./assets/images/logo-jornadas-economia.png?as=webp&width=50" type="image/webp" />
        <img src="./assets/images/logo-jornadas-economia.png?width=50" alt="Jornadas de Economía Circular"
          class="uoc__logo" />
      </picture>
    </div>
    <div class="index__container-menu-item--cabecera1"><!-- logo y texto de cabecera principal -->
      <p class="fuente__logo">JdE</p>
      <p class="fuente__logo">Jornadas de Economía</p>
    </div>
    <div class="index__container-menu-item--menu1">
      <p><!-- enlaces del menú -->
        <a href="p2_participantes.html" class="button">Participantes</a>
        <a href="p3_articulos.html" class="button">Artículos</a>
        <a href="p4_formulario" class="button">Formulario</a>
      </p>
    </div>
</header>
