<main>
  <!-- Parte intermedia de la página -->
  <h1 class="uoc__title">Ponentes</h1><!-- título principal -->
  <div class="pagetwo__flex-container"><!-- maquetación Flexbox -->
    <div class="pagetwo__flex-container--item"><!-- contenedor Flex -->
      <div class="pagetwo__flex-container--polaroid"><!-- Mostramos imagen tipo Polaroid -->
        <img src="./assets/images/00-thispersondoesnotexist.jpg"
          alt="Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com" style="width: 50%;">
        <div class="pagetwo__flex-container-imagen--container">
          <p>
            Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com - <a
              href="https://www.thispersondoesnotexist.com/" target="_blank" class="button__imagen--container">enlace</a>
          </p>
          <p>
            Licenciado en Economía y Finanzas, posee experiencia en banca tradicional y digital, nos explicará el impacto de la
            macroeconomía a nivel mundial y como nos afecta a nuestro entorno para enfrentarnos a los distintos desafíos sociales y
            económicos en nuestro día a día de forma actual.
          </p><span>&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="pagetwo__flex-container--item"><!-- contenedor Flex -->
      <div class="pagetwo__flex-container--polaroid"><!-- Mostramos imagen tipo Polaroid -->
        <img src="./assets/images/01-thispersondoesnotexist.jpg"
          alt="Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com" style="width: 50%;">
        <div class="pagetwo__flex-container-imagen--container">
          <p>
            Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com - <a
              href="https://www.thispersondoesnotexist.com/" target="_blank" class="button__imagen--container">enlace</a>
          </p>
          <p>
            Licenciada en Ciencias Económicas, fue profesora universitaria durante toda su trayectoria profesional, nos brindará una
            ponencia sobre los diversos aspectos de las políticas económicas adoptadas por diferentes países, así como su impacto en
            las poblaciones actuales.
          </p><span>&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="pagetwo__flex-container--item"><!-- contenedor Flex -->
      <div class="pagetwo__flex-container--polaroid"><!-- Mostramos imagen tipo Polaroid -->
        <img src="./assets/images/02-thispersondoesnotexist.jpg"
          alt="Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com" style="width: 50%;">
        <div class="pagetwo__flex-container-imagen--container">
          <p>
            Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com - <a
            href="https://www.thispersondoesnotexist.com/" target="_blank" class="button__imagen--container">enlace</a>
          </p>
          <p>
            Estudiante del Grado de Economía, nos dará una charla sobre los diferentes métodos estadísticos a la hora de realizar
            análisis de datos de tipo económicos, y poder extraer una visión distinta de como afectan al crecimiento de los países,
            y como se puede compatibilizar con economía circular.
          </p><span>&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
  <div class="pagetwo__flex-container">
    <div class="pagetwo__flex-container--item"><!-- contenedor Flex -->
      <div class="pagetwo__flex-container--polaroid"><!-- Mostramos imagen tipo Polaroid -->
        <img src="./assets/images/03-thispersondoesnotexist.jpg"
          alt="Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com" style="width: 50%;">
        <div class="pagetwo__flex-container-imagen--container">
          <p>
            Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com - <a
              href="https://www.thispersondoesnotexist.com/" target="_blank" class="button__imagen--container">enlace</a>
          </p>
          <p>
            Licenciada en Administración y Dirección de Empresas, nos presentará un coloquio, donde nos explicará el impacto
            ocasionado, en la toma de decisiones en los distintos órganos de gobierno de las empresas relacionadas con la economía,
            además de realizar un seguimiento del recorrido de esas decisiones.
          </p><span>&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="pagetwo__flex-container--item"><!-- contenedor Flex -->
      <div class="pagetwo__flex-container--polaroid"><!-- Mostramos imagen tipo Polaroid -->
        <img src="./assets/images/04-thispersondoesnotexist.jpg"
          alt="Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com" style="width: 50%;">
        <div class="pagetwo__flex-container-imagen--container">
          <p>
          Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com - <a
            href="https://www.thispersondoesnotexist.com/" target="_blank" class="button__imagen--container">enlace</a>
          </p>
          <p>
            Graduada en Economía y Máster en Sostenibilidad Económica, nos hablará en estas jornadas,  el crecimiento económico y el impacto
            directo sobre la desigualdad, y dentro de las posibles soluciones, explicará algunos métodos sobre la implementación de
            la economía circular en los ámbitos cotidianos y clases sociales.
          </p><span>&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="pagetwo__flex-container--item"><!-- contenedor Flex -->
      <div class="pagetwo__flex-container--polaroid"><!-- Mostramos imagen tipo Polaroid -->
        <img src="./assets/images/05-thispersondoesnotexist.jpg"
          alt="Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com" style="width: 50%;">
        <div class="pagetwo__flex-container-imagen--container">
          <p>
            Imagen proporcionada por ThisPersonDoesNotExist - www.thispersondoesnotexist.com - <a
            href="https://www.thispersondoesnotexist.com/" target="_blank" class="button__imagen--container">enlace</a>
          </p>
          <p>
            Licenciado en Economía y Máster en Data Science, será ponente de un tema de actualidad, como el análisis de datos, y
            como utilizando diferentes metodologías se puede aplicar a diversos campos, entre ellos, el aspecto económico, además de
            como afectaría a la micro y macroeconomía, dentro de un escenario de economía circular.
          </p><span>&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Parte intermedia-final de la página -->
  <div class="index__container-container">
    <div class="index__container-container-item--contacto">
      <p>
        Para más información, puede dirigirse al siguiente contacto:<a href="mailto:info@jdecircular.com"
          class="button">info@jdecircular.com</a>
      </p>
    </div>
    <div class="index__container-container-item--logo2"><!-- Mostramos logotipo principal -->
      <picture>
        <source srcset="./assets/images/logo-jornadas-economia.png?as=webp&width=50" type="image/webp" />
        <img src="./assets/images/logo-jornadas-economia.png?width=50" alt="Logo (JdE)" class="uoc__logo" />
      </picture>
    </div>
    <div class="index__container-container-item--cabecera2"><!-- texto de logotipo -->
      <p class="fuente__logo">JdE</p>
      <p class="fuente__logo">Jornadas de Economía</p>
    </div>
    <div class="index__container-container-item--menu2"><!-- enlaces del menú principal -->
      <p>
        <a href="index.html" class="button">Principal</a>
        <a href="p2_participantes.html" class="button">Participantes</a>
        <a href="p3_articulos.html" class="button">Artículos</a>
        <a href="p4_formulario.html" class="button">Formulario</a>
      </p>
    </div>
    <div class="index__container-container-item--rrss"><!-- enlaces a redes sociales -->
      <a href="#" class="button__rrss"><i class="fa-brands fa-google-plus-g"></i></a>
      <a href="#" class="button__rrss"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#" class="button__rrss"><i class="fa-brands fa-twitter"></i></a>
    </div>
  </div>
</main>
