<main>
  <!-- Parte intermedia de la página -->
  <div class="pagethree__container">
    <div class="pagethree__container-item--imagen1">
      <div class="pagethree__container-item--polaroid"><!-- Mostramos imagen tipo Polaroid -->
        <img src="./assets/images/p3_imagen1.jpg"
          alt="Imagen proporcionada por Freepik - https://www.freepik.com/author/freepik" style="width: 100%;">
        <div class="pagethree__container-item-imagen--container">                    
          Imagen proporcionada por Freepik - https://www.freepik.com/author/freepik - 
          <a href="https://www.freepik.com/free-photo/sustainable-development-goals-still-life_38687424.htm#fromView=search&page=1&position=17&uuid=9e3bc2d7-cb5b-4b89-9f27-e70960898479&query=circular+economy"
             target="_blank" class="button__imagen--container">enlace</a>          
        </div>
      </div>
    </div>
    <div class="pagethree__container-item--titulo1"><!-- texto logotipo -->
      <h3 class="uoc__title"><i class="fa-solid fa-recycle"></i> Jornadas de Economía Circular <strong>(JdE)</strong> - Tipos de Actividades</h3>
    </div>
    <div class="pagethree__container-item--titulo2">
      <p>
        En nuestras instalaciones donde se celebran las (JdE) de forma anual, instalaciones cedidas por el Ayuntamiento de Santibañes-El bajo (Cáceres - Extremadura), vas a encontrar además de las instalaciones para los participantes,
        con diversas salas temáticas, donde se realizarán varios tipos de actividades durante las jornadas, como charlas, seminarioas, cursos. Como también, el 
         acondicionamiento necesario para que los participantes puedan además de participar en las (JdE), realizar otras actividades de otra índole y teniendo acceso a la rica gasrtronomía de la zona donde se encuentran las instalaciones.
      </p>
    </div>    
    <div class="pagethree__container-item--parrafo1"><!-- lista de actividades -->
      <ul>
        <li><strong>Actividad 1</strong></li>
          <li class="quitar__punto">
            <p>
              Esta actividad tiene un carácter de tipo más educacional y de enseñanza, ya que, se realizan una serie de cursos o
              píldoras, para que los participantes, en este caso, mejoren su técnica de gestión y administración, practicando los 
              diferentes métodos sobre implementar la economía circular en la empresa. 
              Así, como, talleres más prácticos, para que los participantes puedan obtener un aprendizaje sobre las estrategias de 
              reducción de residuos y mejorar la economía a nivel empresarial.
              Con el objetivo de conseguir una mejora a nivel personal de nuestra técnica y reforzarnos como equipo y persona.
            </p>
          </li>
        <li><strong>Actividad 2</strong></li>
          <li class="quitar__punto">
            <p>
              Esta actividad consiste en organizar varias conferencias y ponencias, estando en ellas varios expertos en economía, presentando sus casos 
              reales que les ha ocurrido en las empresas que administran y gestionan. De esta forma, se podrá evaluar las distintas estrategias si funcionan 
              y tienen éxito o por el contrario no.
            </p>
          </li>
        <li><strong>Actividad 3</strong></li>
          <li class="quitar__punto">
            <p>
              Se realizan visitas de forma voluntaria a varias empresas de la zona, mostrando sus instalaciones, dando unas breves explicaciones de como
              han podido implementan entre varios modelos de producción y consumo de forma sostenibles, y aunque no lo parezca en principio, están siendo 
              rentables  a nivel empresarial.
            </p>
          </li>
      </ul>
    </div>
    <div class="pagethree__container-item--parrafo2">
      <h3 class="uoc__title">
          Conviene refrescar y recordar, que durante la celebración de las Jornadas de Economía Circular (JdE), podrás realizar cualquier actividad relacionada con la economía, y más bien 
          con un gran enfoque hacia la economía circular.
      </h3>
    </div>
    <div class="pagethree__container-item--parrafo3">
      <p>
        En nuestras Jornadas de Economía Circular (JdE), encontrarás además de enseñanza y aprendizaje, también divertimento a la vez que aprenderás nuevas técnicas y métodos, 
        además de valorar el compañerismo mutuo a nivel personal y de empresa, puesto que, si hay algo que se caracteriza de nuestras jornadas (JdE), además de incluir actividades 
        diversas y dinámicas, también se realiza una labor social hacia la comunidad poblacional, como la inversión empresarial en nuestras zonas.
      </p>
    </div>
    <div class="pagethree__container-item--imagen2">
      <div class="pagethree__container-item--polaroid"><!-- Mostramos imagen tipo Polaroid -->
        <img src="./assets/images/p3_imagen2.jpg"
          alt="Imagen proporcionada por Freepik - https://www.freepik.com/author/freepik" style="width: 100%;">
        <div class="pagethree__container-item-imagen--container">
          Imagen proporcionada por Freepik - https://www.freepik.com/author/freepik - 
          <a href="https://www.freepik.com/free-photo/sustainable-development-goals-still-life_38687423.htm#fromView=search&page=1&position=18&uuid=9e3bc2d7-cb5b-4b89-9f27-e70960898479&query=circular+economy"
            target="_blank" class="button__imagen--container">enlace</a>
        </div>
      </div>
    </div>
    <div class="pagethree__container-item--parrafo4">
      <p>
        En las instalaciones donde se celebran las jornadas de (JdE), se recuerda, que las tenemos actualizadas, reformadas y en perfecto estado, debido a que, durante 
        el tiempo que se celebren dichas jornadas, se han llevado una preparación de forma exhaustiva, cumpliendo todas las normativas de seguridad de referencia 
        y pasando de forma favorable las evaluaciones de seguridad obligatorias. Todo esto se realiza, para que los participantes y ponentes, para que puedan encontrarse 
        en las mejores condiciones de comodidad posibles para su uso y disfrute, durante el tiempo que dure la realización de las Jornadas de Economía Circular (JdE).
      </p>
    </div>
    <div class="pagethree__container-item--parrafo5">
      <p>
        ¡Recordad! Para tener futuro, hay que construir el presente...
      </p>
    </div>
  </div>
  
  <!-- Parte intermedia-final de la página -->
  <div class="index__container-container">
    <div class="index__container-container-item--contacto">
      <p>
        Para más información, puede dirigirse al siguiente contacto:<a href="mailto:info@jdecircular.com"
          class="button">info@jdecircular.com</a>
      </p>
    </div>
    <div class="index__container-container-item--logo2"><!-- Mostramos logotipo principal -->
      <picture>
        <source srcset="./assets/images/logo-jornadas-economia.png?as=webp&width=50" type="image/webp" />
        <img src="./assets/images/logo-jornadas-economia.png?width=50" alt="Logo (JdE)" class="uoc__logo" />
      </picture>
    </div>
    <div class="index__container-container-item--cabecera2"><!-- texto de logotipo -->
      <p class="fuente__logo">JdE</p>
      <p class="fuente__logo">Jornadas de Economía</p>
    </div>
    <div class="index__container-container-item--menu2"><!-- enlaces del menú principal -->
      <p>
        <a href="index.html" class="button">Principal</a>
        <a href="p2_participantes.html" class="button">Participantes</a>
        <a href="p3_articulos.html" class="button">Artículos</a>
        <a href="p4_formulario.html" class="button">Formulario</a>
      </p>
    </div>
    <div class="index__container-container-item--rrss"><!-- enlaces a redes sociales -->
      <a href="#" class="button__rrss"><i class="fa-brands fa-google-plus-g"></i></a>
      <a href="#" class="button__rrss"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#" class="button__rrss"><i class="fa-brands fa-twitter"></i></a>
    </div>
  </div>
</main>
