<!-- Inicio de cuerpo principal -->
<main class="index__container-container">
  <div class="index__container-container-item--imagen">
    <div class="polaroid"><!-- Mostramos imagen tipo Polaroid -->
      <img src="./assets/images/imagen_titulo.jpg"
        alt="Imagen proporcionada por Freepik - https://www.freepik.com/author/freepik" style="width: 60%;">
      <div class="imagen__container">
        Imagen proporcionada por Freepik - https://www.freepik.com/author/freepik - <a
          href="https://www.freepik.com/free-photo/sustainable-development-goals-still-life_38687439.htm#fromView=search&page=2&position=20&uuid=9e3bc2d7-cb5b-4b89-9f27-e70960898479&query=circular+economy"
          target="_blank" class="button__imagen--container">enlace</a>
      </div>
    </div>
  </div>
  <div class="index__container-container-item--titulo1"><!-- título principal -->
    <h1 class="uoc__title"><i class="fa-solid fa-recycle"></i> Jornadas de Economía Circular <strong>(JdE)</strong></h1>
  </div>
  <div class="index__container-container-item--titulo2"><!-- título secundario -->
    <p>
      Se da la bienvenida a la 10ª edición de nuestras Jornadas de Economía Circular (JdE), que se celebran de forma anual, las siguientes jornadas de
      economía (JdE) de este año, tal y como se venían celebrando como hasta ahora. En las cuales se celebran nuestra una serie de coloquios, charlas, eventos con 
      diferentes ponentes y expertos en el campo de la economía, como su retroalimentación y su aprovechamiento en todos los niveles.
      Sin la colaboración indudable del ayuntamiento de Santibañez el Bajo (Cáceres - Extremadura), no hubiera sido posible la realización de estas jornadas (JdE).
      Esperemos que disfrute de esta jornada, al igual que en las ediciones anteriores.
    </p>
  </div>

  <div class="index__container-container-item--contacto">
    <p>
      Para más información, puede dirigirse al siguiente contacto:<a href="mailto:info@jdecircular.com"
        class="button">info@jdecircular.com</a>
    </p>
  </div>
  <div class="index__container-container-item--logo2"><!-- Mostramos logotipo principal -->
    <picture>
      <source srcset="./assets/images/logo-jornadas-economia.png?as=webp&width=50" type="image/webp" />
      <img src="./assets/images/logo-jornadas-economia.png?width=50" alt="Logo (JdE)"
        class="uoc__logo" />
    </picture>
  </div>
  <div class="index__container-container-item--cabecera2"><!-- texto de logotipo -->
    <p class="fuente__logo">JdE</p>
    <p class="fuente__logo">Jornadas de Economía</p>
  </div>
  <div class="index__container-container-item--menu2"><!-- enlaces del menú principal -->
    <p>
      <a href="index.html" class="button">Principal</a>
      <a href="p2_participantes.html" class="button">Participantes</a>
      <a href="p3_articulos.html" class="button">Artículos</a>
      <a href="p4_formulario.html" class="button">Formulario</a>
    </p>
  </div>
  <div class="index__container-container-item--rrss"><!-- enlaces a redes sociales -->
    <a href="#" class="button__rrss"><i class="fa-brands fa-google-plus-g"></i></a>
    <a href="#" class="button__rrss"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="#" class="button__rrss"><i class="fa-brands fa-twitter"></i></a>
  </div>
</main><!-- fin de cuerpo principal -->
